:root {
  --taille-cellule: 48px;
  --epaisseur-bordure-cellule: 1px;
  --epaisseur-padding-cellule: 2px;
  --couleur-bien-place: #e7002a;
  --couleur-mal-place: #ffbd00;
  --couleur-fond-grille: #000;
  --couleur-non-trouve: rgb(112, 112, 112);
  --couleur-icone: rgb(200, 200, 200);
}

@font-face {
  font-family: "Roboto Medium";
  src: url("fonts/Roboto-Medium.ttf");
}

body {
  font-family: "Roboto Medium", Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 32px;
  background: linear-gradient(to bottom, lightblue, white);
  height: 100vh;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
    background-repeat: no-repeat;
}

#contenu {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 1024px) {
  #contenu {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-height: 640px) {
  :root {
    --taille-cellule: 36px;
  }
  body {
    font-size: 24px;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid white;
  margin-top: 0.1em;
  margin-bottom: 0.25em;
}

h1 {
  margin: 0;
  color: #000000;
}

#configuration-audio-icone {
  height: 32px;
  width: 40px;
}

#grille {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--couleur-fond-grille);
  min-height: calc(6 * var(--taille-cellule) + 12 * var(--epaisseur-bordure-cellule));
}

#grille table {
  border-spacing: 0;
}

#grille td {
  width: calc(var(--taille-cellule) - 2 * var(--epaisseur-padding-cellule));
  height: calc(var(--taille-cellule) - 2 * var(--epaisseur-padding-cellule));
  text-align: center;
  position: relative;
  padding: var(--epaisseur-padding-cellule);
  color: white;
  border: 1px solid white;
  z-index: 0;
}

#grille td:not(.resultat) {
  background-color: #000;
}

#grille td.resultat::after {
  width: calc(var(--taille-cellule));
  height: calc(var(--taille-cellule));
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: " ";
}

#grille td.mal-place::after {
  background-color: var(--couleur-mal-place);
  border-radius: 50%;
}

#grille td.bien-place::after {
  background-color: var(--couleur-bien-place);
}

#grille td.non-trouve::after {
  background-color: var(--couleur-fond-grille);
}

#fin-de-partie-panel,
#victoire-panel,
#defaite-panel {
  display: none;

  font-size: 24px;
}


#definition-panel {
  display: none;
  text-align: left;
  font-size: 18px;
}


#input-area {
  margin: 0.5em auto 1em;
  max-width: 100%;
  width: calc(100% - 20px);
  max-width: 500px;
}

.input-ligne {
  display: flex;
  justify-content: space-between;
  gap: 0.25em;
  width: 100%;
}

.input-ligne + .input-ligne {
  margin-top: 0.25em;
}

.input-lettre {
  font-size: 18px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #000;
  user-select: none;
  flex-grow: 1;
  flex-shrink: 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.input-lettre.input-lettre-vide {
  border: 0;
  flex-grow: 2;
}

.input-lettre.input-lettre-entree {
  flex-grow: 2;
}

.input-lettre.lettre-bien-place {
  background: var(--couleur-bien-place);
}

.input-lettre.lettre-mal-place {
  background: var(--couleur-mal-place);
}

.input-lettre.lettre-non-trouve {
  color: var(--couleur-non-trouve);
  border: 1px solid var(--couleur-non-trouve);
}

.input-lettre:hover,
.input-lettre:active {
  cursor: pointer;
}

.input-lettre.input-lettre-vide:hover,
.input-lettre.input-lettre-vide:active {
  cursor: initial;
}

#regles-panel {
  font-size: 14px;
  text-align: left;
}

#regles-panel a,
#regles-panel a:visited,
#fin-de-partie-panel a,
#fin-de-partie-panel a:visited {
  color: white;
}

#notification {
  opacity: 0;
  transition: opacity linear 1s;
}

.navigation {
font-size: 20px;
}

.navigation a {
margin: 10px auto 10px auto;
line-height: 300%;
text-decoration: none;
padding: 10px;
font-family: arial;
font-size: 1em;
color: #FFFFFF;
background-color: #899F11;
border-radius: 24px;
-webkit-border-radius: 24px;
-moz-border-radius: 24px;
border: 4px solid #FFFFFF;
box-shadow: 3px 3px 12px #444444;
-webkit-box-shadow: 3px 3px 12px #444444;
-moz-box-shadow: 3px 3px 12px #444444;

}

.mention {
width: 100%;
font-size: 16px;
}
.mention a {
color: #fff;

}

#theme {
  color: transparent;
  text-shadow: 0 0 15px #ffffff;
}

#bouton_theme {
margin-right: 10px;
}